In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

First things first:
 - Read in the CSV files, 
 - Verify each has the same column length and column index, 
 - Concatenate them together

In [2]:
cincy1 = pd.read_csv('./Cincinnati_KY/Cincinnati1948_1957.csv')
cincy2 = pd.read_csv('./Cincinnati_KY/Cincinnati1957_1966.csv')
cincy3 = pd.read_csv('./Cincinnati_KY/Cincinnati1973_1975.csv')
cincy4 = pd.read_csv('./Cincinnati_KY/Cincinnati1975_1984.csv')
cincy5 = pd.read_csv('./Cincinnati_KY/Cincinnati1984_1993.csv')
cincy6 = pd.read_csv('./Cincinnati_KY/Cincinnati1993_2002.csv')
cincy7 = pd.read_csv('./Cincinnati_KY/Cincinnati2002_2011.csv')
cincy8 = pd.read_csv('./Cincinnati_KY/Cincinnati2011_2020.csv')

cincy1.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,46,49,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,43,46,49,51,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,19,25,26,27,28,29,31,32,33,34,36,37,41,42,43,46,49,51,52,54,58,59,61,63,69,71,72,88,95,96,97,98,99,100,101,102,103,104,105,106,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,19,25,26,27,28,29,30,31,33,34,35,36,41,42,43,46,48,49,51,52,53,58,59,61,63,69,71,73,75,76,82,88,89,95,111,112,113,114,115,116,117,118,119) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (33,41,42,43,46,49,51,73,75,89) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,99999993814,1948-01-01T00:00:00,SAO,5,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
1,99999993814,1948-01-01T01:00:00,SAO,5,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
2,99999993814,1948-01-01T02:00:00,SAO,5,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
3,99999993814,1948-01-01T03:00:00,SAO,5,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24
4,99999993814,1948-01-01T04:00:00,SAO,5,NaN,SW,0.0625,mi,"TEMP, PRECIP, SNOW",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-04-24

In [4]:
#verify the same number of columns
print(cincy1.shape)
print(cincy2.shape)
print(cincy3.shape)
print(cincy4.shape)
print(cincy5.shape)
print(cincy6.shape)
print(cincy7.shape)
print(cincy8.shape)

(78776, 124)
(78861, 124)
(19531, 124)
(86491, 124)
(87488, 124)
(137360, 124)
(128767, 124)
(112617, 124)

In [5]:
#check column index
print(cincy1.columns == cincy2.columns)
print(cincy1.columns == cincy3.columns)
print(cincy1.columns == cincy4.columns)
print(cincy1.columns == cincy5.columns)
print(cincy1.columns == cincy6.columns)
print(cincy1.columns == cincy7.columns)
print(cincy1.columns == cincy8.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

In [6]:
#concatenate
cincy_list = [cincy1,cincy2,cincy3,cincy4,cincy5,cincy6,cincy7,cincy8]

cincy_all_data = pd.concat(cincy_list, ignore_index=True)

In [7]:
#sanity check: there are 124 columns
len(cincy_all_data.columns.tolist())

124

#### Separating, dropping columns

The dataframe rows represent measurements taken at or determined over different periods of time, e.g. **Hourly** Data or **Daily** Data or **Monthly** Data. We'll group these in separate dataframes to reduce null counts and make more manageable.

We'll also drop a few utterly useless columns, either blank or representing things we don't care about (e.g. latitude/longitude of the backup equipment).

#### Defining dictionaries to drop
The two dictionaries here are:
 - ##### drop_columns
     - These should be removed entirely
 - ##### semi_drop
     - Some of these should be removed, some should be kept depending on your use case
     - They're grouped by time interval (hourly, daily, monthly) and alphabetically

In [9]:
drop_columns = ['HeavyFog', 'REM', 'REPORT_TYPE.1', 'SOURCE.1',
               
                'BackupDirection',"BackupDistance",'BackupDistanceUnit','BackupElements','BackupElevation',
                'BackupElevationUnit','BackupEquipment','BackupLatitude','BackupLongitude','BackupName',
                
                'MonthlyAverageRH', 'MonthlyDewpointTemperature', 
                
                'TStorms',
             
                'WindEquipmentChangeDate'
             ]

semi_drop = ['AWND',
                           
             'CDSD','CLDD','DSNW',
             
             ###########################################################################################################
             # daily data
             'DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             
             ##########################################################################################################
             # # hourly data
             'HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
             
             ##########################################################################################################
             # monthly data
             'MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             
             
             'NormalsCoolingDegreeDay', 'NormalsHeatingDegreeDay',
            
             
             ##########################################################################################################
             # short duration(?) data
             'ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             
             'Sunrise','Sunset',
             ] 
             ############ close dictionary ################

drop_columns.extend(semi_drop)

cincy1.drop(columns = drop_columns)

           STATION                 DATE REPORT_TYPE SOURCE
0      99999993814  1948-01-01T00:00:00       SAO        5
1      99999993814  1948-01-01T01:00:00       SAO        5
2      99999993814  1948-01-01T02:00:00       SAO        5
3      99999993814  1948-01-01T03:00:00       SAO        5
4      99999993814  1948-01-01T04:00:00       SAO        5
...            ...                  ...         ...    ...
78771  99999993814  1957-01-01T19:00:00       SAO        E
78772  99999993814  1957-01-01T20:00:00       SAO        E
78773  99999993814  1957-01-01T21:00:00       SAO        E
78774  99999993814  1957-01-01T22:00:00       SAO        E
78775  99999993814  1957-01-01T23:00:00       SAO        E

[78776 rows x 4 columns]

In [10]:
cincy_all_data['DATE'] = pd.to_datetime(cincy_all_data['DATE'])
cincy_all_data['DATE']

0        1948-01-01 00:00:00
1        1948-01-01 01:00:00
2        1948-01-01 02:00:00
3        1948-01-01 03:00:00
4        1948-01-01 04:00:00
                 ...
729886   2020-01-01 20:52:00
729887   2020-01-01 21:52:00
729888   2020-01-01 22:52:00
729889   2020-01-01 23:52:00
729890   2020-01-01 23:59:00
Name: DATE, Length: 729891, dtype: datetime64[ns]

#### DataFrame lists of features
These lists define the columns that will make up each DataFrame, grouped by time interval (daily, hourly, monthly, whatever "short duration" means)

In [11]:
             ###########################################################################################################
             # daily data
daily_list = ['DATE','DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             ]

             ##########################################################################################################
             # # hourly data
hourly_list = ['DATE','HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
              ]

             ##########################################################################################################
             # monthly data
monthly_list = ['DATE','MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             ]
             
             ##########################################################################################################
             # short duration(?) data
short_dur_list = ['DATE','ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             ]

#### Make the DataFrames

In [12]:
cincy_daily = cincy_all_data[daily_list].copy()
cincy_hourly = cincy_all_data[hourly_list].copy()
cincy_monthly = cincy_all_data[monthly_list].copy()
cincy_short_dur = cincy_all_data[short_dur_list].copy()

In [13]:
cincy_hourly['HourlyDewPointTemperature'].value_counts()

66.0     10300
57.0      9983
63.0      9881
64.0      9789
54.0      9706
         ...
31s          1
29s          1
-37.0        1
-34.0        1
81.0         1
Name: HourlyDewPointTemperature, Length: 244, dtype: int64

#### NOTE
Right now most of the columns need a bit more scrubbing, accounting for nulls, datatype conversion, etc.

In [14]:
cincy_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729891 entries, 0 to 729890
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DATE                       729891 non-null  datetime64[ns]
 1   HourlyAltimeterSetting     476561 non-null  object
 2   HourlyDewPointTemperature  641014 non-null  object
 3   HourlyDryBulbTemperature   641075 non-null  object
 4   HourlyPrecipitation        572151 non-null  object
 5   HourlyPresentWeatherType   183433 non-null  object
 6   HourlyPressureChange       163914 non-null  object
 7   HourlyPressureTendency     164579 non-null  float64
 8   HourlyRelativeHumidity     641004 non-null  object
 9   HourlySeaLevelPressure     607622 non-null  object
 10  HourlySkyConditions        375797 non-null  object
 11  HourlyStationPressure      607284 non-null  object
 12  HourlyVisibility           661816 non-null  object
 13  HourlyWetBulbTemperature   587839 non-null  object
 14  HourlyWindDirection        644127 non-null  object
 15  HourlyWindGustSpeed        40545 non-null   float64
 16  HourlyWindSpeed            661553 non-null  object
dtypes: datetime64[ns](1), float64(2), object(14)
memory usage: 94.7+ MB

In [15]:
cincy_daily.to_csv('./Cincinnati_KY/Cincinnati_daily.csv')
cincy_hourly.to_csv('./Cincinnati_KY/Cincinnati_hourly.csv')
cincy_monthly.to_csv('./Cincinnati_KY/Cincinnati_monthly.csv')
cincy_short_dur.to_csv('./Cincinnati_KY/Cincinnati_short_dur.csv')