In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

First things first:
 - Read in the CSV files, 
 - Verify each has the same column length and column index, 
 - Concatenate them together

In [3]:
newyork1 = pd.read_csv('./LaGuardia_NY/NewYork1948_1957.csv')
newyork2 = pd.read_csv('./LaGuardia_NY/NewYork1957_1966.csv')
newyork3 = pd.read_csv('./LaGuardia_NY/NewYork1973_1975.csv')
newyork4 = pd.read_csv('./LaGuardia_NY/NewYork1975_1984.csv')
newyork5 = pd.read_csv('./LaGuardia_NY/NewYork1984_1993.csv')
newyork6 = pd.read_csv('./LaGuardia_NY/NewYork1993_2002.csv')
newyork7 = pd.read_csv('./LaGuardia_NY/NewYork2002_2011.csv')
newyork8 = pd.read_csv('./LaGuardia_NY/NewYork2011_2020.csv')

newyork1.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (42,43,49,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,46,49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,46,49,51,52,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,46,49,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,19,25,26,27,29,31,32,33,34,36,37,41,42,43,46,49,51,52,54,58,59,61,63,69,71,72,88,89,95,96,97,98,99,100,101,102,103,104,105,106,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,19,25,26,27,28,29,30,31,33,34,35,36,41,42,43,46,49,51,52,56,58,59,61,63,69,71,73,75,76,77,82,88,89,95,110,111,112,113,114,118,119) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (33,34,41,42,43,46,49,51,56,73,75,76,89) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,99999914732,1948-07-01T06:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,99999914732,1948-07-01T07:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99999914732,1948-07-01T08:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99999914732,1948-07-01T09:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99999914732,1948-07-01T10:00:00,SAO,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#verify the same number of columns
print(newyork1.shape)
print(newyork2.shape)
print(newyork3.shape)
print(newyork4.shape)
print(newyork5.shape)
print(newyork6.shape)
print(newyork7.shape)
print(newyork8.shape)

(74552, 124)
(73011, 124)
(18299, 124)
(83951, 124)
(86633, 124)
(131839, 124)
(133767, 124)
(124554, 124)

In [5]:
#check column index
print(newyork1.columns == newyork2.columns)
print(newyork1.columns == newyork3.columns)
print(newyork1.columns == newyork4.columns)
print(newyork1.columns == newyork5.columns)
print(newyork1.columns == newyork6.columns)
print(newyork1.columns == newyork7.columns)
print(newyork1.columns == newyork8.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

In [6]:
#concatenate
newyork_list = [newyork1,newyork2,newyork3,newyork4,newyork5,newyork6,newyork7,newyork8]

newyork_all_data = pd.concat(newyork_list, ignore_index=True)

In [7]:
#sanity check: there are 124 columns
len(newyork_all_data.columns.tolist())

124

#### Separating, dropping columns

The dataframe rows represent measurements taken at or determined over different periods of time, e.g. **Hourly** Data or **Daily** Data or **Monthly** Data. We'll group these in separate dataframes to reduce null counts and make more manageable.

We'll also drop a few utterly useless columns, either blank or representing things we don't care about (e.g. latitude/longitude of the backup equipment).

#### Defining dictionaries to drop
The two dictionaries here are:
 - ##### drop_columns
     - These should be removed entirely
 - ##### semi_drop
     - Some of these should be removed, some should be kept depending on your use case
     - They're grouped by time interval (hourly, daily, monthly) and alphabetically

In [9]:
drop_columns = ['HeavyFog', 'REM', 'REPORT_TYPE.1', 'SOURCE.1',
               
                'BackupDirection',"BackupDistance",'BackupDistanceUnit','BackupElements','BackupElevation',
                'BackupElevationUnit','BackupEquipment','BackupLatitude','BackupLongitude','BackupName',
                
                'MonthlyAverageRH', 'MonthlyDewpointTemperature', 
                
                'TStorms',
             
                'WindEquipmentChangeDate'
             ]

semi_drop = ['AWND',
                           
             'CDSD','CLDD','DSNW',
             
             ###########################################################################################################
             # daily data
             'DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             
             ##########################################################################################################
             # # hourly data
             'HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
             
             ##########################################################################################################
             # monthly data
             'MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             
             
             'NormalsCoolingDegreeDay', 'NormalsHeatingDegreeDay',
            
             
             ##########################################################################################################
             # short duration(?) data
             'ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             
             'Sunrise','Sunset',
             ] 
             ############ close dictionary ################

drop_columns.extend(semi_drop)

newyork1.drop(columns = drop_columns)

           STATION                 DATE REPORT_TYPE SOURCE
0      99999914732  1948-07-01T06:00:00       SAO        E
1      99999914732  1948-07-01T07:00:00       SAO        E
2      99999914732  1948-07-01T08:00:00       SAO        E
3      99999914732  1948-07-01T09:00:00       SAO        E
4      99999914732  1948-07-01T10:00:00       SAO        E
...            ...                  ...         ...    ...
74547  99999914732  1957-01-01T19:00:00       SAO        E
74548  99999914732  1957-01-01T20:00:00       SAO        E
74549  99999914732  1957-01-01T21:00:00       SAO        E
74550  99999914732  1957-01-01T22:00:00       SAO        E
74551  99999914732  1957-01-01T23:00:00       SAO        E

[74552 rows x 4 columns]

In [10]:
newyork_all_data['DATE'] = pd.to_datetime(newyork_all_data['DATE'])
newyork_all_data['DATE']

0        1948-07-01 06:00:00
1        1948-07-01 07:00:00
2        1948-07-01 08:00:00
3        1948-07-01 09:00:00
4        1948-07-01 10:00:00
                 ...
726601   2020-01-01 21:51:00
726602   2020-01-01 22:00:00
726603   2020-01-01 22:51:00
726604   2020-01-01 23:51:00
726605   2020-01-01 23:59:00
Name: DATE, Length: 726606, dtype: datetime64[ns]

#### DataFrame lists of features
These lists define the columns that will make up each DataFrame, grouped by time interval (daily, hourly, monthly, whatever "short duration" means)

In [11]:
             ###########################################################################################################
             # daily data
daily_list = ['DATE','DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             ]

             ##########################################################################################################
             # # hourly data
hourly_list = ['DATE','HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
              ]

             ##########################################################################################################
             # monthly data
monthly_list = ['DATE','MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             ]
             
             ##########################################################################################################
             # short duration(?) data
short_dur_list = ['DATE','ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             ]

#### Make the DataFrames

In [12]:
newyork_daily = newyork_all_data[daily_list].copy()
newyork_hourly = newyork_all_data[hourly_list].copy()
newyork_monthly = newyork_all_data[monthly_list].copy()
newyork_short_dur = newyork_all_data[short_dur_list].copy()

In [13]:
newyork_hourly['HourlyDewPointTemperature'].value_counts()

57     9067
55     9036
54     8934
64     8625
61     8441
       ...
8s        1
44s       1
15s       1
76s       1
21s       1
Name: HourlyDewPointTemperature, Length: 251, dtype: int64

#### NOTE
Right now most of the columns need a bit more scrubbing, accounting for nulls, datatype conversion, etc.

In [14]:
newyork_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726606 entries, 0 to 726605
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DATE                       726606 non-null  datetime64[ns]
 1   HourlyAltimeterSetting     455763 non-null  object
 2   HourlyDewPointTemperature  643375 non-null  object
 3   HourlyDryBulbTemperature   643535 non-null  object
 4   HourlyPrecipitation        558608 non-null  object
 5   HourlyPresentWeatherType   170735 non-null  object
 6   HourlyPressureChange       184555 non-null  object
 7   HourlyPressureTendency     185212 non-null  float64
 8   HourlyRelativeHumidity     643350 non-null  float64
 9   HourlySeaLevelPressure     616379 non-null  object
 10  HourlySkyConditions        364620 non-null  object
 11  HourlyStationPressure      606295 non-null  object
 12  HourlyVisibility           659191 non-null  object
 13  HourlyWetBulbTemperature   591444 non-null  float64
 14  HourlyWindDirection        654725 non-null  object
 15  HourlyWindGustSpeed        66632 non-null   float64
 16  HourlyWindSpeed            658740 non-null  object
dtypes: datetime64[ns](1), float64(4), object(12)
memory usage: 94.2+ MB

In [15]:
newyork_daily.to_csv('./LaGuardia_NY/NewYork_daily.csv')
newyork_hourly.to_csv('./LaGuardia_NY/NewYork_hourly.csv')
newyork_monthly.to_csv('./LaGuardia_NY/NewYork_monthly.csv')
newyork_short_dur.to_csv('./LaGuardia_NY/NewYork_short_dur.csv')