In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

First things first:
 - Read in the CSV files, 
 - Verify each has the same column length and column index, 
 - Concatenate them together

In [3]:
atlanta1 = pd.read_csv('./Atlanta_GA/Atlanta1945_1954.csv')
atlanta2 = pd.read_csv('./Atlanta_GA/Atlanta1954_1963.csv')
atlanta3 = pd.read_csv('./Atlanta_GA/Atlanta1963_1972.csv')
atlanta4 = pd.read_csv('./Atlanta_GA/Atlanta1954_1963.csv')
atlanta5 = pd.read_csv('./Atlanta_GA/Atlanta1973_1981.csv')
atlanta6 = pd.read_csv('./Atlanta_GA/Atlanta1981_1990.csv')
atlanta7 = pd.read_csv('./Atlanta_GA/Atlanta1990_1999.csv')
atlanta8 = pd.read_csv('./Atlanta_GA/Atlanta2008_2017.csv')
atlanta9 = pd.read_csv('./Atlanta_GA/Atlanta2017_2020.csv')

atlanta1.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,42,43,49,51,95,123) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (42,43,49,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (41,42,43,46,49,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,19,25,26,27,29,31,32,33,34,36,37,41,42,43,46,49,51,52,54,58,59,61,63,69,71,72,88,89,95,96,97,98,99,100,101,102,103,104,105,106,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (33,34,41,42,43,46,49,51,52,75,76,89) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (33,34,41,42,43,49,51,75,76,89) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,99999913874,1945-01-01T06:00:00,SAO,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,99999913874,1945-01-01T07:00:00,SAO,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99999913874,1945-01-01T08:00:00,SAO,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99999913874,1945-01-01T09:00:00,SAO,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99999913874,1945-01-01T10:00:00,SAO,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#verify the same number of columns
print(atlanta1.shape)
print(atlanta2.shape)
print(atlanta3.shape)
print(atlanta4.shape)
print(atlanta5.shape)
print(atlanta6.shape)
print(atlanta7.shape)
print(atlanta8.shape)
print(atlanta9.shape)

(78666, 124)
(78836, 124)
(75914, 124)
(78836, 124)
(79743, 124)
(89264, 124)
(101456, 124)
(113941, 124)
(38171, 124)

In [5]:
#check column index
print(atlanta1.columns == atlanta2.columns)
print(atlanta1.columns == atlanta3.columns)
print(atlanta1.columns == atlanta4.columns)
print(atlanta1.columns == atlanta5.columns)
print(atlanta1.columns == atlanta6.columns)
print(atlanta1.columns == atlanta7.columns)
print(atlanta1.columns == atlanta8.columns)
print(atlanta1.columns == atlanta9.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

In [6]:
#concatenate
atlanta_list = [atlanta1, atlanta2, atlanta3, atlanta4, atlanta5, atlanta6, atlanta7, atlanta8, atlanta9]

atlanta_all_data = pd.concat(atlanta_list, ignore_index=True)

In [7]:
#sanity check: there are 124 columns
len(atlanta_all_data.columns.tolist())

124

#### Separating, dropping columns

The dataframe rows represent measurements taken at or determined over different periods of time, e.g. **Hourly** Data or **Daily** Data or **Monthly** Data. We'll group these in separate dataframes to reduce null counts and make more manageable.

We'll also drop a few utterly useless columns, either blank or representing things we don't care about (e.g. latitude/longitude of the backup equipment).

#### Defining dictionaries to drop
The two dictionaries here are:
 - ##### drop_columns
     - These should be removed entirely
 - ##### semi_drop
     - Some of these should be removed, some should be kept depending on your use case
     - They're grouped by time interval (hourly, daily, monthly) and alphabetically

In [9]:
drop_columns = ['HeavyFog', 'REM', 'REPORT_TYPE.1', 'SOURCE.1',
               
                'BackupDirection',"BackupDistance",'BackupDistanceUnit','BackupElements','BackupElevation',
                'BackupElevationUnit','BackupEquipment','BackupLatitude','BackupLongitude','BackupName',
                
                'MonthlyAverageRH', 'MonthlyDewpointTemperature', 
                
                'TStorms',
             
                'WindEquipmentChangeDate'
             ]

semi_drop = ['AWND',
                           
             'CDSD','CLDD','DSNW',
             
             ###########################################################################################################
             # daily data
             'DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             
             ##########################################################################################################
             # # hourly data
             'HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
             
             ##########################################################################################################
             # monthly data
             'MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             
             
             'NormalsCoolingDegreeDay', 'NormalsHeatingDegreeDay',
            
             
             ##########################################################################################################
             # short duration(?) data
             'ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             
             'Sunrise','Sunset',
             ] 
             ############ close dictionary ################

drop_columns.extend(semi_drop)

atlanta1.drop(columns = drop_columns)

           STATION                 DATE REPORT_TYPE SOURCE
0      99999913874  1945-01-01T06:00:00       SAO        5
1      99999913874  1945-01-01T07:00:00       SAO        5
2      99999913874  1945-01-01T08:00:00       SAO        5
3      99999913874  1945-01-01T09:00:00       SAO        5
4      99999913874  1945-01-01T10:00:00       SAO        5
...            ...                  ...         ...    ...
78661  99999913874  1954-01-01T19:00:00       SAO        E
78662  99999913874  1954-01-01T20:00:00       SAO        E
78663  99999913874  1954-01-01T21:00:00       SAO        E
78664  99999913874  1954-01-01T22:00:00       SAO        E
78665  99999913874  1954-01-01T23:00:00       SAO        E

[78666 rows x 4 columns]

In [10]:
atlanta_all_data['DATE'] = pd.to_datetime(atlanta_all_data['DATE'])
atlanta_all_data['DATE']

0        1945-01-01 06:00:00
1        1945-01-01 07:00:00
2        1945-01-01 08:00:00
3        1945-01-01 09:00:00
4        1945-01-01 10:00:00
                 ...
734822   2020-01-01 20:52:00
734823   2020-01-01 21:52:00
734824   2020-01-01 22:52:00
734825   2020-01-01 23:52:00
734826   2020-01-01 23:59:00
Name: DATE, Length: 734827, dtype: datetime64[ns]

#### DataFrame lists of features
These lists define the columns that will make up each DataFrame, grouped by time interval (daily, hourly, monthly, whatever "short duration" means)

In [11]:
             ###########################################################################################################
             # daily data
daily_list = ['DATE','DailyAverageDewPointTemperature','DailyAverageDryBulbTemperature','DailyAverageRelativeHumidity',
             'DailyAverageSeaLevelPressure','DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',  
             'DailyAverageWindSpeed', 'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature', 
             'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature', 
             'DailyPeakWindDirection', 'DailyPeakWindSpeed','DailyPrecipitation', 'DailySnowDepth', 'DailySnowfall', 
             'DailySustainedWindDirection', 'DailySustainedWindSpeed', 'DailyWeather',
             
             'HDSD','HTDD',
             ##########################################################################################################
             ]

             ##########################################################################################################
             # # hourly data
hourly_list = ['DATE','HourlyAltimeterSetting', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 
             'HourlyPresentWeatherType', 'HourlyPressureChange', 'HourlyPressureTendency', 'HourlyRelativeHumidity', 
             'HourlySeaLevelPressure', 'HourlySkyConditions', 'HourlyStationPressure','HourlyVisibility', 
             'HourlyWetBulbTemperature', 'HourlyWindDirection', 'HourlyWindGustSpeed','HourlyWindSpeed',
             ##########################################################################################################
              ]

             ##########################################################################################################
             # monthly data
monthly_list = ['DATE','MonthlyDaysWithGT001Precip', 'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
             'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithLT32Temp',
             'MonthlyDepartureFromNormalAverageTemperature', 'MonthlyDepartureFromNormalCoolingDegreeDays',
             'MonthlyDepartureFromNormalHeatingDegreeDays', 'MonthlyDepartureFromNormalMaximumTemperature',
             'MonthlyDepartureFromNormalMinimumTemperature', 'MonthlyDepartureFromNormalPrecipitation',
             'MonthlyGreatestPrecip', 'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
             'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall', 'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
             'MonthlyMaxSeaLevelPressureValueDate', 'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature', 
             'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue', 'MonthlyMinSeaLevelPressureValueDate', 
             'MonthlyMinSeaLevelPressureValueTime','MonthlyMinimumTemperature', 'MonthlySeaLevelPressure', 
             'MonthlyStationPressure', 'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall', 'MonthlyWetBulb',
             ##########################################################################################################
             ]
             
             ##########################################################################################################
             # short duration(?) data
short_dur_list = ['DATE','ShortDurationEndDate005', 'ShortDurationEndDate010', 'ShortDurationEndDate015', 'ShortDurationEndDate020',
             'ShortDurationEndDate030', 'ShortDurationEndDate045', 'ShortDurationEndDate060', 'ShortDurationEndDate080',
             'ShortDurationEndDate100', 'ShortDurationEndDate120', 'ShortDurationEndDate150', 'ShortDurationEndDate180',
             'ShortDurationPrecipitationValue005', 'ShortDurationPrecipitationValue010', 'ShortDurationPrecipitationValue015',
             'ShortDurationPrecipitationValue020', 'ShortDurationPrecipitationValue030', 'ShortDurationPrecipitationValue045',
             'ShortDurationPrecipitationValue060', 'ShortDurationPrecipitationValue080', 'ShortDurationPrecipitationValue100',
             'ShortDurationPrecipitationValue120', 'ShortDurationPrecipitationValue150', 'ShortDurationPrecipitationValue180',
             ##########################################################################################################
             ]

#### Make the DataFrames

In [12]:
atlanta_daily = atlanta_all_data[daily_list].copy()
atlanta_hourly = atlanta_all_data[hourly_list].copy()
atlanta_monthly = atlanta_all_data[monthly_list].copy()
atlanta_short_dur = atlanta_all_data[short_dur_list].copy()

In [13]:
atlanta_hourly['HourlyDewPointTemperature'].value_counts()

68.0    14652
70.0    14352
69.0    13590
66.0    13097
67.0    12881
        ...
44s         1
53s         1
47s         1
62s         1
-4s         1
Name: HourlyDewPointTemperature, Length: 246, dtype: int64

#### NOTE
Right now most of the columns need a bit more scrubbing, accounting for nulls, datatype conversion, etc.

In [14]:
atlanta_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734827 entries, 0 to 734826
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DATE                       734827 non-null  datetime64[ns]
 1   HourlyAltimeterSetting     382777 non-null  object
 2   HourlyDewPointTemperature  694949 non-null  object
 3   HourlyDryBulbTemperature   694956 non-null  object
 4   HourlyPrecipitation        626138 non-null  object
 5   HourlyPresentWeatherType   161334 non-null  object
 6   HourlyPressureChange       126558 non-null  object
 7   HourlyPressureTendency     126559 non-null  float64
 8   HourlyRelativeHumidity     694911 non-null  float64
 9   HourlySeaLevelPressure     669821 non-null  object
 10  HourlySkyConditions        387416 non-null  object
 11  HourlyStationPressure      716864 non-null  object
 12  HourlyVisibility           719837 non-null  object
 13  HourlyWetBulbTemperature   693302 non-null  float64
 14  HourlyWindDirection        700990 non-null  object
 15  HourlyWindGustSpeed        30217 non-null   float64
 16  HourlyWindSpeed            719664 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(11)
memory usage: 95.3+ MB

In [15]:
atlanta_daily.to_csv('./Atlanta_GA/atlanta_daily.csv')
atlanta_hourly.to_csv('./Atlanta_GA/atlanta_hourly.csv')
atlanta_monthly.to_csv('./Atlanta_GA/atlanta_monthly.csv')
atlanta_short_dur.to_csv('./Atlanta_GA/atlanta_short_dur.csv')